.rpw_done_wrap {
    text-align: center;
    margin: 25px auto 0 auto;
    border: 0.1rem solid #e6e8eb;
    box-shadow: 0 1.2rem 2.4rem -1rem rgba(0, 0, 0, 0.1);
    width: 450px;
    min-height: 450px;
    background: white;
    min-width: 400px;
}

.rpw_done_title {
    padding-top: 30px;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 70px;
    font-family: "Squada One";
}

.rpw_done_explanation {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
}

.line {
    width: 80%;
    border-top: 1px solid lightgrey;
    margin: 80px auto 40px;
}