.flexwrap {
    display: flex;
    justify-content: center;
}

.rpw_complete_wrap {
    text-align: center;
    margin: 25px auto 0 auto;
    border: 0.1rem solid #e6e8eb;
    box-shadow: 0 1.2rem 2.4rem -1rem rgba(0, 0, 0, 0.1);
    width: 450px;
    min-height: 450px;
    background: white;
    min-width: 400px;
}

.rpw_complete_title {
    padding-top: 36px;
    font-size: 30px;
    font-family: Regular Patch, Regular Bold, Nunito Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: bold;
}

.rpw_complete_explanation {
    text-align: center;
    font-family: Regular Patch, Regular Bold, Nunito Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
}

.rpw_complete_submit {
    margin-top: 20px;
    margin-bottom: 40px;
    border: 0.1rem solid #00fffe;
    border-radius: 5px;
    background: #00fffe;
    color: #000000;
    padding: 10px;
    width: 200px;
    transition: 0.5s;
    font-size: 20px;
    font-family: Aller;
    box-shadow: 0.3rem 0.3rem 2rem -1rem rgba(0, 0, 0, 0.5);
}

.rpw_complete_submit:hover {
    border: 0.1rem solid #00b8ff;
    box-shadow: 0.3rem 0.3rem 2rem -1rem rgba(0, 0, 0, 0.5);
    color: #000000;
    background-color: #00b8ff;
}

.line {
    width: 80%;
    border-top: 1px solid lightgrey;
    margin: 40px auto;
}
