<div class="lyrics">
    {% for lyrics in all_lyrics %}
        <div>
            {{ lyrics.kor }}
        </div>
    {% endfor %}
</div>

<div class="twitter_url" style="height:500px; width: 300px; overflow-y: scroll; border: 1px solid black" ;>
    <a class="twitter-timeline" href="{{ sns }}">Tweets by BTS_twt</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<iframe width="500" height="250" src="{{ youtube_url }}" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

