{% extends 'base.html' %}
{%  load static %}
{% block content %}
<style>

.inputlyricswrap{
    display: flex;
    justify-content: center;
    width:95%;
}
.all_eng, .all_kor, .all_rom{
    margin:10px;
    box-shadow: 0 0 5px gray;
}
#add_eng,#add_rom,.submitlyric{
    width:100px;
    height:40px;
    margin:10px;
    background: linear-gradient(to right, #00fffe, #00b8ff);
    border:none;
    border-radius: 5px;
}
.submitlyric{
    width:220px;
}

</style>

<form action="" method="POST">
      <meta charset="UTF-8">
    {% csrf_token %}
    <div class="inputlyricswrap">
        <div id="all_kor">
            <h2>Korean lyrics</h2>
            <textarea name="all_kor" class="all_kor"cols="40" rows="30"></textarea>
        </div>
        <div id="all_eng" style="display:none;">
            <h2>English lyrics</h2>
            <textarea name="all_eng"class="all_eng" cols="40" rows="30"></textarea>
        </div>
        <div id="all_rom" style="display:none;">
            <h2>Rom lyrics</h2>
            <textarea name="all_rom" class="all_rom"cols="40" rows="30"></textarea>
        </div>
    </div>

    <button type="button" id="add_eng" onclick="doDisplay_eng()">Add English</button>
    <button type="button" id="add_rom" onclick="doDisplay_rom()">Add Rom</button>
    <div class="submitlyricwrap">
        <input type="submit" class="submitlyric" value="입력">
    </div>
</form>

<script type="text/javascript" language="javascript">
    function doDisplay_eng() {
        var check = document.getElementById("all_eng");

        if (check.style.display == 'none') {
            check.style.display = 'block';

        } else {
            check.style.display = 'none';
        }
    }

    function doDisplay_rom() {
        var check = document.getElementById("all_rom");

        if (check.style.display == 'none') {
            check.style.display = 'block';
        } else {
            check.style.display = 'none';
        }
    }
</script>
{% endblock %}