{#<h3>{{ group.gname }}</h3>#}
{#<h3>{{ group.agency }}</h3>#}
{#<h3><a href="{{ group.sns_url }}">{{ group.sns_url }}</a></h3>#}
{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static "css/group_detail.css" %}"/>
{% endblock %}
{% block content %}

    <div class="wrapall">
        <div class="artist_data">Artist - {{ group.gname }}</div>
    <div class="wrap1">
        <div class="group_image">
            <img src="{{ group.group_image.url }}"/>
        </div>
    </div>

        <div class="middle">
            <div class="artist_data">Artist Information</div>
            <div class="group">그룹명</div>
            <div class="group">소속사</div>
            <div class="group">데뷔</div>
            <div class="group">팬덤</div>
            <div class="group">공식사이트</div>
        </div>

        <div class="artist_data">Member Information</div>
        <div class="wrap2">
            {% for singer in singers %}
                <a class="singer_detail" href="{% url 'Kasa:singer_detail' singer.pk %}">
                    <div class="f">
                        <div><img class="singer_img" src="{{ singer.image.url }}" /></div>
                        <div class="singer_name">{{ singer.sname }}</div>
                    </div>
                </a>
            {% endfor %}
        </div>


        <div class="album_data">Album</div>
        <div class="album_wrap">
            {% for album in albums %}
                <a class="album_detail" href="{% url 'Kasa:album_detail' album.pk %}">
                    <div class="album_art">
                        <div><img class="album_img" src="{{ album.album_art.url }}"/></div>
                        <div class="album_name">{{ album.aname }}</div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}








