{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static "css/group_detail.css" %}"/>
    <link rel="stylesheet" href="{% static 'javascript/jquery.mCustomScrollbar.css' %}"/>

{% endblock %}
{% block content %}

    <div class="wrapall">
        <div class="artist_data">Artist</div>
        <div class="wrap1">
            {% if group.group_image %}
                <div class="group_image_wrapper">
                    <img class="group_image" src="{{ group.group_image.url }}"/>
                </div>
            {% endif %}
            <div class="group_info_wrapper">
                <div class="group_name">{{ group.gname }}</div>
                <div class="group_info">
                    <div class="group_info_debut">데뷔 : {{ group.debut|date:"Y.m.d" }}</div>
                    <div class="group_info_agency">소속사 : {{ group.agency }}</div>
                    <div class="group_info_sns">SNS : <a href="{{ group.sns_url }}">{{ group.sns_url }}</a></div>
                </div>
            </div>
        </div>

        <div class="artist_data">Member Information</div>
        <div class="wrap2">
            {% for singer in singers %}
                {% if singer.image %}
                    <a class="singer_detail" href="{% url 'Kasa:singer_detail' singer.pk %}">
                        <div class="f">
                            <div class="singer_img_wrap"><img class="singer_img" src="{{ singer.image.url }}"/></div>
                            <div class="singer_name">{{ singer.sname }}</div>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>


        <div class="album_data">Album</div>
        <div class="album_wrap">
            {% for album in albums %}
                {% if album.album_art %}
                    <a class="album_detail" href="{% url 'Kasa:album_detail' album.pk %}">
                        <div class="album_art">
                            <div><img class="album_img" src="{{ album.album_art.url }}"/></div>
                            <div class="album_name">{{ album.aname }}</div>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}





