{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static "css/search_detail.css" %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
{% endblock %}


{% block content %}

    {% if noresult %}
        <div class="result">
            <span class="kwd">'{{ kwd }}'</span>
            에 대한 검색 결과가 없습니다.
        </div>
    {% else %}
        <div class="result">
            <span class="kwd">'{{ kwd }}'</span>
            에 대한 검색결과
        </div>

        {#        {% endif %}#}
        {#        {% if groups %}#}
        <div class="result_title">Artists <span class="result_length">({{ artist_length }})</span></div>
        <div class="result_artist_content">
            {% for group in groups %}
                <div class="each_artist">
                    {% if group.group_image %}
                        <div class="singer_artist_wrap"><a href="{% url 'Kasa:group_detail' group.pk %}">
                            <img class="artist_image artist_group_image" src="{{ group.group_image.url }}"/>
                        </a></div>
                    {% endif %}
                    <div class="artist_info">
                        <div class="artist_name">
                            <a href="{% url 'Kasa:group_detail' group.pk %}">{{ group.gname }}</a>
                            {#                            <div class="singer_birth">/ {{ singer.birth }}</div>#}
                        </div>

                        <div class="artist_agency">
                            {{ group.agency }}
                        </div>
                        {% if group.sns_url %}
                            <div class="artist_song">
                                <a href="{{ group.sns_url }}">
                                    <i class="fab fa-twitter"></i>
                                    <span>Twitter</span>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

            {#        {% endif %}#}
            {#        {% if singers %}#}
            {% for singer in singers %}
                <div class="each_artist">
                    {% if singer.image %}
                        <div class="singer_artist_wrap"><a href="{% url 'Kasa:singer_detail' singer.pk %}">
                            <img class="artist_image" src="{{ singer.image.url }}"/>
                        </a></div>
                    {% endif %}
                    <div class="artist_info">
                        <div class="artist_name">
                            <a href="{% url 'Kasa:singer_detail' singer.pk %}">{{ singer.sname }}</a>
                            <div class="artist_birth">/ {{ singer.birth }}</div>
                        </div>

                        <div class="artist_groups">
                            {% for group in singer.group.all %}
                                <a href="{% url 'Kasa:group_detail' group.pk %}">{{ group }}</a>
                            {% endfor %}
                        </div>
                        {% if singer.singer_song.first %}
                            <div class="artist_song">
                                <a href="{% url 'Kasa:song_detail' singer.singer_song.first.pk %}">
                                    <i class="fas fa-play-circle"></i>
                                    <span>{{ singer.singer_song.first.sname }}</span>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        {#{% endif %}#}
        {#        {% if songs %}#}
        <div class="result_title result_title_song">Songs <span class="result_length">({{ songs|length }})</span></div>
        <div class="result_content">
            <div class="songs_category">
                <span>번호</span><span>곡정보</span><span>아티스트</span><span>가사</span>
            </div>
            {% for song in songs %}
                <div class="each_song">
                    <div>{{ forloop.counter }}</div>
                    <div>
                        <a class="song_album_img" href="{% url 'Kasa:album_detail' song.album.pk %}">
                            <img class="song_mini_album_size" src="{{ song.album.album_art.url }}"/>
                        </a>
                        <a class="song_title" href="{% url 'Kasa:song_detail' song.pk %}">
                            {{ song.sname }}</a>
                    </div>
                    <div>
                        <a href="{% url 'Kasa:group_detail' song.album.group.pk %}">{{ song.album.group.gname }}</a>
                    </div>
                    <div><i class="far fa-file-alt"></i></div>
                </div>
            {% endfor %}
            <div class="each_song_buffer"></div>
        </div>

        {#        {% endif %}#}
        {#        {% if albums %}#}
        <div class="result_title">Albums <span class="result_length">({{ albums|length }})</span></div>
        <div class="result_albums_content">

            {% for album in albums %}
                <div class="each_album">
                    <div class="album_art">
                        <a href="{% url 'Kasa:album_detail' album.pk %}">
                            <img class="album_image" src="{{ album.album_art.url }}"/>
                        </a>
                    </div>
                    <div class="album_info">
                        <div class="album_name">{{ album.aname }}</div>
                        <div class="album_group_name">
                            <a href="{% url 'Kasa:group_detail' album.group.pk %}">{{ album.group.gname }}</a>
                        </div>
                        <div class="album_date_count_wrap">
                            <div class="album_date_count">{{ album.release_date }}</div>
                            <div class="album_date_count">{{ album.album_song.all|length }}곡</div>
                        </div>
                        <div class="album_detail_btn">
                            <a href="{% url 'Kasa:album_detail' album.pk %}">Info</a></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {#        {% endif %}#}
        {#        {% if lyrics %}#}
        <div class="result_title">Lyrics <span class="result_length">({{ lyrics|length }})</span></div>
        <div class="result_content">
            {% for lyric in lyrics %}
                <div class="each_lyric">
                    <div>{{ forloop.counter }}</div>
                    <div>{{ lyric.song.album.album_art }}</div>
                    <div>{{ lyric.song }}</div>
                    <div>{{ lyric.kor }}</div>
                </div>
            {% endfor %}
        </div>
        {#        {% endif %}#}
    {% endif %}

{% endblock %}