{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/singer_detail.css" %}"/>
{% endblock %}
{% block content %}

    <div class="wrapall">
        <div class="singer_data">Artist</div>
        <div class="wrap1">
            <div class="singer_image_wrapper">
                <img class="singer_image" src="{{ singer.image.url }}"/>
            </div>

            <div class="singer_info_wrapper">
                <div class="singer_name">{{ singer.sname }}</div>
                <div class="singer_info">
                    <div class="singer_info_debut">생일: {{ singer.birth|date:"Y.m.d" }}</div>
                    {#                <div class="singer_info_group">소속그룹: {{singer.group. }}</div>#}
                    <div class="singer_info_year">활동년대: {{ singer.active_date|date:"Y" }}</div>
                    <div class="singer_info_nation">국적: {{ singer.nationality }}</div>
                    <div class="singer_info_star">별자리: {{ singer.constallation }}</div>

                </div>
            </div>
        </div>
    </div>
    {% if singer.content %}
        <div class="singer_data">Artist information</div>
        <h3 class="hidden"></h3>
        <div class="content_wrap" id="synopsis">
            <div id="SynopsisDiv" class="SynopsisText">
                {{ singer.content }}
            </div>
            <a href="javascript:showplay();" class="btn_more" id="synopMore">
                <div>내리기</div>
                <div><i class="fas fa-chevron-down"></i></div>
            </a>
            <input name="hidTempSynopsis" type="hidden" id="hidTempSynopsis" value="0">
        </div>
    {% endif %}

    <div class="singer_group_data">Groups</div>
    <div class="singer_group_wrap">
        {% for group in singer.group.all %}
            {% if group.group_image %}
                <a class="singer_group_detail" href="{% url 'Kasa:group_detail' group.pk %}">
                    <div class="singer_group_image">
                        <img class="singer_group_img" src="{{ group.group_image.url }}"/>
                        <div class="singer_group_name">{{ group.gname }}</div>
                    </div>
                </a>
            {% endif %}
        {% endfor %}
    </div>



{% endblock %}



{% block script %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        //더보기 토글
        function showplay() {
            var flag = $('#hidTempSynopsis');
            var SynopsisDiv = $('#SynopsisDiv');
            var flagValue = flag.val();
            if (flag != null) {
                if (flagValue == "0") {
                    SynopsisDiv.css({
                        "display": "block",
                        "line-height": "1.5em"
                    });
                    $("#synopMore").html('');
                    $("#synopMore").append('<div><i class="fas fa-chevron-up"></i></div><div>올리기</div>');
                    flag.val("1");
                } else {
                    SynopsisDiv.css("display", "-webkit-box");
                    $("#synopMore").html('');
                    $("#synopMore").append('<div>내리기</div><div><i class="fas fa-chevron-down"></i></div>');
                    flag.val("0");
                }
            } else {
                alert("추가 정보가 없습니다.");
            }
        }

    </script>
{% endblock %}