<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h3>{{ song.sname }}</h3>
<h3>{{ song.youtube_url }}</h3>
{% if song.soundcloud_url %}
    <h3>{{ song.soundcloud_url }}</h3>
{% endif %}
{% if song.dance_url %}
    <h3>{{ song.dance_url }}</h3>
{% endif %}
<h3>{{ song.album.album_art }}</h3>
<h3>{{ song.singer.group }}</h3>
</body>
</html>