html {
    font-family: "Aller Light";
    height: 100%;
    margin: 0;
}

body {
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

body .wrap {
    position: relative;
    min-height: 78vh;
    width: 70%;
    display: block;
    text-align: center;
    margin: 20px auto 135px auto;
    /*background-color: none;*/
}

input[type=text]:focus {
    outline: 0.1rem solid #00b8ff;
}