{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static "css/check_comment.css" %}"/>
{% endblock %}

{% block content %}
    <div class="comments_field">
        <div class="comment_wrap">
            <div class="comment_title">
                My comment
            </div>
            {% if comments %}
                <div class="each_comment">
                    {% for comment in comments %}
                        <div class="each_comment_wrap">
                            <div class="song_name">
                                {{ comment.song.sname }}
                            </div>
                            <div class="content">
                                {{ comment.content }}
                            </div>
                            <div class="created_at">
                                {{ comment.created_at }}</div>
                            <div class="delete_btn">
                                <a class="delete_btn_a"
                                   href="{% url 'accounts:delete_comment' comment.pk %}">Delete</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="change_pw_password">작성한 댓글이 없습니다.</div>
            {% endif %}

        </div>
    </div>
{% endblock %}