{% extends 'base.html' %}
{% load socialaccount %}
{% providers_media_js %}

{% block content %}
    <style>
        .loginwrap {
            text-align: center;
            margin: 0 auto;
            border: 0.1rem solid #e6e8eb;
            width: 450px;
            height: 600px;
            min-width: 400px;
            box-shadow: 0 1.2rem 2.4rem -1rem rgba(0, 0, 0, 0.1);
        }

        .unmatch {
            text-align: center;
        }

        .sign_in_talk {
            padding-top: 30px;
            font-size: 36px;
            font-family: Regular Patch, Regular Bold, Nunito Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
            font-weight: bold;
        }

        .sign_in_talk_2 {
            padding-bottom: 10px;
            font-size: 20px;
            font-family: Regular Patch, Regular Bold, Nunito Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
            font-weight: bold;
        }

        .memeberlogin {
            margin-top: 15px;
        }


        .id_wrap {
            text-align: left;
            padding-left: 30px;
            margin-bottom: 5px;
        }

        .id_notation, .password_notation {
            font-family: Aller;
            padding-bottom: 5px;
        }

        .id_text, .password_text {
            border: 0.1rem solid #d3d3d3;
            font-family: "Nunito Sans";
            width: 375px;
            height: 35px;
            padding-left: 10px;
        }

        .password_wrap {
            text-align: left;
            padding-left: 30px;
            padding-top: 10px;
            margin-bottom: 5px;
        }

        .password_and_find {
            display: flex;
            justify-content: space-between;
        }

        .submit {
            margin-top: 15px;
            margin-bottom: 20px;
            border: 0.1rem solid #00fffe;
            border-radius: 5px;
            background: #00fffe;
            color: #000000;
            padding: 10px;
            width: 200px;
            transition: 0.5s;
            font-size: 20px;
            font-family: Aller;
            box-shadow: 0.3rem 0.3rem 2rem -1rem rgba(0, 0, 0, 0.5);
        }

        .submit:hover {
            border: 0.1rem solid #00b8ff;
            box-shadow: 0.3rem 0.3rem 2rem -1rem rgba(0, 0, 0, 0.5);
            color: #000000;
            background-color: #00b8ff;
        }

        .findp {
            color: #00a5e2;
            text-decoration: none;
            font-weight: bold;
            font-size: 12px;
        }

        .empty_line {
            margin: auto auto 10px auto;
            height: 10px;
            width: 350px;
            border-bottom: 0.1rem solid #e6e8eb;
        }

        .findpassword {
            margin: 0 40px 0 0;
        }

        .sociallogin > a {
            text-decoration: none;
        }

        .google {
            font-family: "Nunito Sans";
            width: 375px;
            height: 35px;
            line-height: 35px;
            padding-left: 10px;
            background-color: #ff5c4f;
            border: 2px solid #ff5c4f;
            font-weight: bold;
            display: block;
            margin: 10px auto;
            text-align: center;
            outline: none;
            color: black;
            border-radius: 5px;
            transition: 0.25s;
            cursor: pointer;
            font-size: 1em;
        }

        .google:hover {
            border: 2px solid #cd4940;
            box-shadow: 0.3rem 0.3rem 2rem -1rem rgba(0, 0, 0, 0.5);
            color: #000000;
            background-color: #cd4940;
        }

        .kakao {
            width: 375px;
            height: 35px;
            line-height: 35px;
            background: #ffe812;
            border: 2px solid #ffe812;
            font-weight: bold;
            display: block;
            margin: 10px auto;
            text-align: center;
            padding-left: 10px;
            outline: none;
            color: black;
            border-radius: 5px;
            transition: 0.25s;
            cursor: pointer;
            font-size: 1em;
            margin-bottom: 10px;
        }

        .kakao:hover {
            border: 2px solid #dbab0b;
            box-shadow: 0.3rem 0.3rem 2rem -1rem rgba(0, 0, 0, 0.5);
            color: #000000;
            background: #dbab0b;
        }

        .signupbutton{
            padding-top: 50px;
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }

        .signb {
            color: darkgray;
            text-decoration: none;
            font-weight: bold;
            color: black;
            padding-left: 10px;
            color: #00a5e2;
            font-size: 15px;
        }

    </style>
    <div class="loginwrap">
        {% if user.is_authenticated %}
            <h2>Welcome, {{ user.alias }}</h2>
            <a href="{% url 'accounts:logout' %}">로그아웃</a>
            <a href="{% url 'accounts:change_pw' %}">비밀번호 변경</a>
            <a href="{% url 'accounts:change_info' %}">정보 변경</a>
            <a href="{% url 'accounts:check_comment' %}">작성 댓글</a>
        {% else %}
            {% if errors %}
                <p class="unmatch">아이디 또는 비밀번호가 일치하지 않습니다.</p>
            {% endif %}
            <div class="sign_in_talk">Sign in to Kasa</div>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="memeberlogin">
                    <div class="id_wrap">
                        <div class="id_notation">ID</div>
                        <input type="text" class="id_text" name="username" autocomplete=off placeholder="Enter ID">
                    </div>
                    <div class="password_wrap">
                        <div class="password_and_find">
                            <div class="password_notation">Password</div>
                            <div class="findpassword">
                                <a href="{% url 'accounts:reset_pw' %}" class="findp">forgot password?</a>
                            </div>
                        </div>
                        <input type="password" class="password_text" name="password" placeholder="Enter Password">
                    </div>
                    <button type="submit" class="submit" value="sign in">Sign in</button>
                </div>

            </form>
            <div class="center">
                {#                <div class="findpassword">#}
{#                                    <a href="{% url 'accounts:reset_pw' %}" class="findp">Find password</a></div>#}
                <div class="empty_line"></div>


            </div>
            <div class="sign_in_talk_2">Sign in with social account</div>
            <div class="sociallogin">
                <a href="{% provider_login_url 'google' %}" class="google" name=""
                   value="sign in with google">GOOGLE</a>
                <a href="{% provider_login_url 'kakao' %}" class="kakao" name="" value="sign in with kakao">KAKAO</a>
            </div>
{#            <div class="empty_line"></div>#}
            <div class="signupbutton">
                <div class="dont_have_yet">Don't have account yet?</div>
                <a href="{% url 'accounts:signup' %}" class="signb">Sign up!</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
</body>
</html>
