{% extends 'base.html' %}
{% load socialaccount %}
{% providers_media_js %}
{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}"/>
{% endblock %}
{% block content %}
    <div class="logincenter_wrap">
        <div class="loginwrap">
            {% if user.is_authenticated %}
                <div class="signup_welcome">Welcome, {{ user.alias }}</div>
                <div class="signup_explanation">Kasa is best way to find Kpop lyrics of your favorite Kpop artists. Here
                    we
                    provide you over 10 Kpop songs and lyrics. What do you expect?
                </div>
                <div class="signup_btns_wrap">
                    <div class="signup_buttons"><a href="{% url 'accounts:logout' %}">Sign out</a></div>
                    <div class="signup_buttons"><a href="{% url 'accounts:change_pw' %}">Change password</a></div>
                    <div class="signup_buttons"><a href="{% url 'accounts:change_info' %}">Change info</a></div>
                    <div class="signup_buttons"><a href="{% url 'accounts:check_comment' %}">My comments</a></div>
                </div>
            {% else %}

                <div class="sign_in_talk">Sign in to Kasa</div>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="memeberlogin">
                        <div class="id_wrap">
                            <div class="id_notation">ID</div>
                            <input type="text" class="id_text" name="username" autocomplete=off placeholder="Enter ID">
                        </div>
                        <div class="password_wrap">
                            <div class="password_and_find">
                                <div class="password_notation">Password</div>
                                <div class="findpassword">
                                    <a href="{% url 'accounts:reset_pw' %}" class="findp">forgot password?</a>
                                </div>
                            </div>
                            <input type="password" class="password_text" name="password" placeholder="Enter Password">
                        </div>
                        <button type="submit" class="submit" value="sign in">Sign in</button>
                    </div>
                    {% if errors %}
                        <p class="unmatch">Incorrect ID or Password / Please try again</p>
                    {% endif %}
                </form>
                <div class="center">
                    <div class="empty_line"></div>
                </div>
                <div class="sign_in_talk_2">Sign in with social account</div>
                <div class="sociallogin">
                    <a href="{% provider_login_url 'google' %}" class="google" name=""
                       value="sign in with google"><img src="{% static 'image/google-hangouts.png' %}"/>
                        &nbsp;&nbsp;&nbsp;Sign in with Google</a>
                    <a href="{% provider_login_url 'kakao' %}" class="kakao" name=""
                       value="sign in with kakao"><img src="{% static 'image/kakao-talk.png' %}"/>
                        &nbsp;&nbsp; Sign in with Kakao</a>
                </div>
                <div class="signupbutton">
                    <div class="dont_have_yet">Don't have account yet?</div>
                    <a href="{% url 'accounts:signup' %}" class="signb">Sign up!</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
