{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static "css/reset_pw_complete.css" %}"/>
{% endblock %}
{% block content %}
    <dev class="flexwrap">
        <div class="rpw_complete_wrap">
            <div class="rpw_complete_title">Reset Successfully</div>
            <form method="POST" class="form">
                {% csrf_token %}
                <div class="rpw_complete_explanation">
                    Your password has been successfully reset. Please sign in again with your new password.
                </div>
                <input type="submit" class="rpw_complete_submit" value="Sign in">

                {{ form.as_p }}
            </form>
        </div>
    </dev>
{% endblock %}

