{% extends 'base.html' %}
{% load static %}
{% load i18n static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static "css/reset_pw_confirm.css" %}"/>
{% endblock %}

{% block content %}

    <div class="rpw_confirm_wrap">
        <div class="rpw_confirm_title">{% if token_fail %}Link was invalid{% else %}Reset Password{% endif %}</div>

        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <div>The password reset link was invalid, possibly because it has already been used. Please
                request a <a href="{% url 'accounts:reset_pw' %}">new password reset</a>.
            </div>
        {% else %}
            {% if form %}
                <form method="POST" action="{{ action_url }}">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="field_wrap">
                            <div class="field_label">{{ field.label }}</div>
                            <div class="field_specific">{{ field }}</div>
                        </div>
                    {% endfor %}
                    <input type="submit" class="rpw_confirm_email" value="Confirm">
                </form>
                    {% for label in form %}
                        {% if label.errors %}
                            {% for error in label.errors %}
                                <div class="rpw_error">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}

            {% else %}
                <div class="rpw_done_explanation">Your password is now changed.</div>
            {% endif %}
        {% endif %}

    </div>
{% endblock %}
{#{% if validlink %}#}
{##}
{#<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>#}
{##}
{#<form method="post">{% csrf_token %}#}
{#<fieldset class="module aligned">#}
{#    <div class="form-row field-password1">#}
{#        {{ form.new_password1.errors }}#}
{#        <label for="id_new_password1">{% trans 'New password:' %}</label>#}
{#        {{ form.new_password1 }}#}
{#    </div>#}
{#    <div class="form-row field-password2">#}
{#        {{ form.new_password2.errors }}#}
{#        <label for="id_new_password2">{% trans 'Confirm password:' %}</label>#}
{#        {{ form.new_password2 }}#}
{#    </div>#}
{#    <input type="submit" value="{% trans 'Change my password' %}">#}
{#</fieldset>#}
{#</form>#}
{##}
{#{% else %}#}
{##}
{#<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>#}
{##}
{#{% endif %}#}
{#{% endblock %}#}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
