{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static "css/reset_pw_confirm.css" %}"/>
{% endblock %}
{% block content %}

    <div class="rpw_confirm_wrap">
        <div class="rpw_confirm_title">Reset Password</div>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="rpw_confirm_explanation">
                Set your new password
            </div>
            {% if validlink %}
                {{ form.as_p }}
                <input type="submit" class="rpw_confirm_submit" value="Reset">


            {% else %}

                <div class="rpw_confirm_link">{% trans "Reset link is not correct" %}</div>

            {% endif %}
            {{ form.as_p }}
            <input type="submit" class="rpw_confirm_email" value="Send email">
        </form>

    </div>
{% endblock %}













