{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static "css/reset_pw_done.css" %}"/>
{% endblock %}

{% block content %}
    <div class="rpw_done_wrap">
        <div class="rpw_done_title">Sent you an email</div>
        <form action="" method="POST" class="form">
            {% csrf_token %}
            <div class="rpw_done_explanation">We've sent you an email. <br /> <br /> Please check your mailbox.</div>
            {{ form.as_p }}
        </form>

    </div>
{% endblock %}
