a {
    text-decoration: none;
    color: black;
}

.result {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.result > .kwd {
    color: #00b8ff;
}

.result_title {
    color: #00b8ff;
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0 40px 0;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 5px;
    height: 60px;
    line-height: 60px;
}

.result_length {
    font-size: 25px;
}

.result_artist_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    /*border: 1px solid black;*/

}


.each_artist {
    display: flex;
    width: 45%;
    margin: 2%;
}

.singer_artist_wrap {
    width: 120px;
    height: 120px;
}

.artist_image {
    box-shadow: 0px 0px 7px 2px grey;
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.artist_group_image {
    object-fit: contain;
}

.artist_info {
    padding: 10px 0 10px 15px;
}

.artist_name {
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
}

.artist_birth {
    color: grey;
    font-weight: normal;
    font-size: 10px;
}

.artist_groups {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;
}

.artist_groups > a {
    color: grey;
}

.artist_agency {
    color: grey;
}

.artist_song {
    position: relative;
    top: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.artist_song > a {
    color: #0268e9;
}

.artist_song > a:hover {
    color: #00b1ff;
}


/** {*/
/*    border: 1px solid black;*/
/*}*/
.result_title_song {
    margin-bottom: 0px;
}

.songs_category {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #00b8ff;
}

.songs_category > span {
    text-align: center;
    margin: 10px;
    color: #00b8ff;
}

.songs_category > span:nth-child(1) {
    flex: 1;
}

.songs_category > span:nth-child(2) {
    flex: 10;
}

.songs_category > span:nth-child(3) {
    flex: 6
}

.songs_category > span:nth-child(4) {
    flex: 2;
}

.each_song > div {
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #777;
}

.each_song > div:nth-child(1) {
    flex: 1;
    font-weight: bold;
    color: #00b8ff;
}

.each_song > div:nth-child(2) {
    flex: 10;
    justify-content: flex-start;
}

.each_song > div:nth-child(3) {
    flex: 6;

}

.each_song > div:nth-child(4) {
    flex: 2;

}

.each_song_buffer {
    width: 100%;
    border-bottom: 2px solid #00b8ff;
}

.each_song {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid lightgrey;
    padding: 5px 0;
}

.song_album_img {
    padding: 0 30px;

}

.song_mini_album_size {
    width: 48px;
    height: 48px;
    object-fit: cover;
    box-shadow: 0px 0px 7px 2px grey;
}

.fa-file-alt {
    color: #00b8ff;
}

.song_title {
}

.result_albums_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.each_album {
    width: 31%;
    margin: 10px 2% 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.album_art {
    flex: 4;
    object-fit: cover;
    height: 100%;
    display: flex;
    align-items: center;

}

.album_image {
    width: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 5px 2px grey;
    border: 1px solid grey
}

.album_info {
    flex: 5;
    padding: 10px 0 10px 15px;
}

.album_name {
    font-weight: bold;
    margin-bottom: 5px;
}

.album_group_name {
    margin-bottom: 15px;
}

.album_group_name > a {
    text-decoration: none;
    color: black;
}

.album_date_count_wrap {
    display: flex;
    flex-direction: row;
    margin-bottom: 7px;
}

.album_date_count {
    font-size: 10px;
    color: grey;
    border-right: 1px solid lightgrey;
    padding: 0 5px;
}

.album_detail_btn {
    border-radius: 5px;
    width: 50px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    background: linear-gradient(to right, #00fffe, #00b8ff);
}

.album_detail_btn:hover {
    background: linear-gradient(to right, #06c9ff, #009cc9);
}

.album_detail_btn > a {
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
    font-size: 13px;

}