.officialvideo {
        object{
            width: 100%;
            height: 100%;
        }

          &.stuck {
            position: fixed;
            bottom: 20px;
            right: 20px;
            width: 260px;
            height: 145px;
            transform: translateY(100%);
            animation: fade-in-up .25s ease forwards;
          }

        }