{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static "css/footer.css" %}"/>
{% endblock %}

<div class="footerwrap">
    <div class="footer">
        <div class="developer">피로그래밍 12기 &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 정승현 &nbsp &nbsp &nbsp &nbsp 권구상 &nbsp &nbsp
            &nbsp &nbsp 신우철 &nbsp &nbsp &nbsp &nbsp 송민호
        </div>
        <div class="background-footer" style=" background-image: url({% static 'image/background-bottom3.png'%})"></div>
    </div>
</div>