{% load static %}
<div class="footerwrap">
    <div class="footer">
        <div class="developer">&copy; Kasa | &nbsp; &nbsp; &nbsp; &nbsp; Kwon Kusang&nbsp;<a href="https://github.com/rnjsrntkd95"><i class="fab fa-github"></i></a>

            &nbsp; &nbsp; &nbsp; &nbsp; Jung Seunghyun&nbsp;<a href="https://github.com/herrakam"><i class="fab fa-github"></i></a>
            &nbsp; &nbsp;
            &nbsp; &nbsp; Shin Woochul&nbsp;<a href="https://github.com/swc0620"><i class="fab fa-github"></i></a>

            &nbsp; &nbsp; &nbsp; &nbsp; Song Minho&nbsp;<a href="https://github.com/pot1223"><i class="fab fa-github"></i></a>
        </div>
        <div class="background-footer" style=" background-image: url({% static 'image/background-bottom.png' %})"></div>
    </div>
</div>