{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static "css/navbar.css" %}"/>
{% endblock style %}

<nav>
    <div class="navlist">
        <div class="title"><a id="title_a_tag" href="{% url 'Kasa:main' %}"> <img
                src="{% static 'image/logo.png' %}"></a></div>
        <div class="search-box">
            <input type="text" class="search-txt" name="" placeholder=" Search">
            <input type="image" src="{% static 'image/magnifying_glass.png' %}" alt="submit" class="search-btn">
        </div>
        {% if user.is_authenticated %}
            <div class="signup"><a href="{% url 'accounts:logout' %}">Logout</a></div>
        {% else %}
            <div class="signin"><a href="{% url 'accounts:login' %}">Sign in</a></div>
            <div class="signup"><a href="{% url 'accounts:signup' %}">Sign up</a></div>
        {% endif %}

    </div>
</nav>
